$brand-color: orange;
$second-color: #f3f3f3;
$dark-color: #585858;
$border-standard: 1px solid $brand-color;
$basic-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
